<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card bg-light">
      <div class="card-body">
        <form action="{{#unless task._id}}/tasks/create{{else}}/tasks/edit/{{task._id}}{{/unless}}" method="POST">
          <div class="mb-3">
            <input
              type="text"
              name="title"
              placeholder="Write your title"
              class="form-control"
              value="{{task.title}}"
              autofocus
            />
          </div>
          <div class="mb-3">
            <textarea
              name="description"
              class="form-control"
              placeholder="Write a description"
              rows="3"
            >{{task.description}}</textarea>
          </div>
          <button type="submit" class="btn btn-primary btn-block">
          {{#if task._id}}
          Update
          {{else}}
            Save
          {{/if}}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>